<!DOCTYPE html>
<html ng-app="swiftOpenOptions">
<head>
    <title>Super Swift Open Options</title>
    <link rel="stylesheet" href="../lib/bootstrap-3.2.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/extension.css">

    <script src="../lib/angular.min.js"></script>
    <script src="../js/controller.js"></script>
</head>


<body ng-controller="SwiftOpenCtrl">
<div class="container">
    <div class="page-header">
        <h2>Super Swift Open <small>Options</small></h2>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h4>URLs to be opened:</h4>
            <table class="table" ng-if="entries.length > 0">
                <thead>
                    <tr>
                        <th class="col-sm-11">URL</th>
                        <th class="col-sm-1"></th>
                    </tr>
                </thead>
                <tr ng-repeat="entry in entries">
                    <td><a href="{{entry.url}}" target="_blank">{{entry.url}}</a></td>
                    <td><button type="button" class="btn btn-danger" ng-click="delete($index)">Delete</button></td>
                </tr>

            </table>
            <span ng-if="entries.length === 0"><em>No entries configured! Add some below!</em></span>
        </div>
    </div>

    <br>
    <br>


    <form novalidate name="form" class="simple-form" class="css-form">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="form-group">
                    <label for="uUrl">Add URL</label>
                    <input type="url" name="uUrl" class="form-control" id="newUrl" placeholder="http://www.google.com" required pattern="https?://.+" ng-model="newUrl">
                    <span class="errorMsg" ng-show="form.uUrl.$error.url">URLs must be fully qualified (i.e. start with 'http://'' or 'https://').</span>
                </div>
                <button class="btn btn-default" ng-disabled="form.$invalid" ng-click="add(newUrl)">Add</button>
                <span id="error" class="errorMessage" style="display: none;">
                    <span class="glyphicon glyphicon-exclamation-sign"></span> Error in your URL
                </span>
            </div>
        </div>
    </form>


</div>

</body>
</html>
